numpy==1.11.1
scipy==0.17.1
scikit-learn==0.17.1
nibabel==2.0.2
hansel==0.9.1
nilearn==0.2.5
nipy==0.4.0
dipy==0.11.0
invoke==0.13.0
pandas==0.18.1
ipython==5.1.0
git+https://github.com/nipy/nipype.git@3f48cb7#egg=nipype
git+https://github.com/emre/kaptan.git@b64ad9b#egg=kaptan
git+https://github.com/moloney/dcmstack@c12d27d#egg=dcmstack
git+https://github.com/darcymason/pydicom@688216c#egg=pydicom
git+https://github.com/neurita/boyle@4e8d82c#egg=boyle
git+https://github.com/neurita/pypes@c131bc1#egg=pypes
